{% extends "base.html" %}
{% block content %}

  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <h1>Institutions</h1>
    <div>
      <a href="#" class="text-decoration-none link-light"> # </a> 
      {% for char in alphabet %}
        <a href="#" class="text-decoration-none link-light"> {{ char }} </a> 
      {% endfor %}
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for institution in institutions %}
    <div class="col">
      <div class="card">
              <h5 class="card-header">{{ institution.name }}</h5>
              <div class="card-body">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    List of queues
                  </button>
                  <ul class="dropdown-menu">
                    {% for name in institution.queues %}
                      {% if institution.queues %}
                      {% url 'queue-in-firebase-list-create' as the_url_to_queue %}
                      <li>
                        <!-- <a class="dropdown-item" href="{{ the_url_to_queue }}">{{name}}</a></li> -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin: 5px;">
                          <a class="dropdown-item" href="{{ the_url_to_queue }}">{{name}}
                          <button class="btn btn-primary me-md-2" type="button">Reserve a place</button>
                          </a>
                        </div>
                      </li>
                      {% endif %}
                    {% empty %}
                      <li><a class="dropdown-item" href="#">This insitution doesn't have any arrays for now</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
      </div>
    </div>
  {% endfor %}
  </div>


{% endblock %}