{% extends "base.html" %}
{% block content %}
<br>
<h2>{{ name }} queue located at "include branch address or name" </h2>
<br>
<h3>Number of people in line: {{ customer_count }}</h3>
{% if customer_count >= 1 %}
<p>First in line: {{ queue.0 }}</p>
{% else %}
<p>You will be able to see the first two customers once they sign up</p>
{% endif %}
<br>
{% if customer_count > 1 %}
<p>Next in line: {{ queue.1 }} </p>
{% endif %}

{% if customer_count >= 1 %}
<button>Move the line</button>
{% endif %}
<!-- <a class="btn btn-primary" href="{% url 'queue-in-firebase-move' queue_id %}" role="button">Move the line</a> -->

{% endblock %}